:root {
  font-size: 16px;
  background-repeat: no-repeat;
  background-size: contain;

  @include mq("xxl") {
    font-size: 20px;
  }

  --main-color: #1db05d;
  --text-color: #7a7a7a;
  --dark-color: #474747;
  --mint-green: #109d91;
  --white: #fff;
  --black: #000;
  --light-grey: #f5f5f5;
  --med-grey: #f8f8f8;
}

body {
  font-family: $font-r, var(--bs-body-font-family);
  color: var(--text-color);
  direction: $direction;
  text-align: $right;
  background-color: var(--light-grey);
  line-height: 1.2;
  // @extend %scroll;
}
::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #1db05d;
}

::selection {
  color: #fff;
  background: #1db05d;
}
.fa-arrow-right-long {
  @at-root {
    [dir="rtl"] & {
      transform: rotate(180deg);
    }
  }
}

.fa-arrow-left-long,
.fa-right-to-bracket {
  @at-root {
    [dir="rtl"] & {
      transform: rotate(180deg);
    }
  }
}

.mt-n1 {
  margin-top: -0.25rem;
}
.mt-n2 {
  margin-top: -5rem;
}
.mt-n3 {
  margin-top: -1rem;
}
.mt-n4 {
  margin-top: -1.5rem;
}
.mt-n5 {
  margin-top: -3rem;
}

// :is(.international-museums) {
//   background-color: red !important;
// }
// body {
//   :has(.international-museums) {
//     background-color: green !important;
//   }
// }
