// // fonts gona here
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

// @font-face {
//   font-family: toggleFont("Helvetica", "Cairo");
//   src: toggleFont(
//     url("../fonts/Helvetica.ttf"),
//     url("../fonts/Cairo-Regular.ttf")
//   );
// }


@font-face {
  font-family: DINNextLTArabic-Regular;
  src: url("../fonts/DINNextLTArabic-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: DINNextLTArabic-Light;
  src: url("../fonts/DINNextLTArabic-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: DINNextLTArabic-Bold;
  src: url("../fonts/DINNextLTArabic-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: DINNextLTArabic-Heavy;
  src: url("../fonts/DINNextLTArabic-Heavy.ttf");
  font-display: swap;
}

.font-sb {
  font-family: $font-b;
}
.font-r {
  font-family: $font-r;
}
