.card {
  &.standard {
    text-align: center;
    background: rgba(251, 251, 251, 0.5);
    border: 1px solid #f4f3f3;
    box-shadow: 0 0 10px #eee;
    .card-image {
      height: 165px;
      display: flex;
      align-items: center;
      justify-content: center;
      max-height: 100%;
      img {
        width: 30%;
        max-height: 100%;
        object-fit: contain;
        transition: 0.5s ease;
      }
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }

    font-family: $font-b;
    .card-title {
      color: var(--text-color);
      font-size: calcRem(25);
      line-height: calcRem(30);
      margin-top: 15px;
      a {
        color: inherit;
        text-decoration: none;
        &:hover {
          color: var(--mint-green);
        }
      }
    }

    .card-subtitle {
      color: var(--main-color);
      font-size: calcRem(15);
      line-height: calcRem(24);
      margin-top: 15px;
      a {
        color: inherit;
        text-decoration: none;
        &:hover {
          color: var(--mint-green);
        }
      }
    }
  }
}

.card-link {
  background-color: var(--white);
  border-radius: 4px;
  padding: calcRem(25) 15px;
  display: flex;
  color: var(--mint-green);
  font-family: $font-b;
  font-weight: 600;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.3s ease;
  font-size: calcRem(25);
  line-height: calcRem(30);
  &:hover {
    box-shadow: 0 0 10px #eee;
    color: var(--main-color);
  }
}
