.lang-box {
  background-color: #0000004f;
  border-style: dashed;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 6px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 6px;
  border-radius: 25px 25px 25px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  color: #fff;
  font-size: 25px;
  align-items: center;
  justify-content: center;
  font-family: $font-b;
  @include mq("lg") {
    padding: 25px;
  }
}
