.banner {
  background-color: transparent;
  background: url(../img/banner-bg.png),
    linear-gradient(90deg, #109d91 50%, #1db05d 100%);
  min-height: 30vh;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  display: flex;
  align-items: center;
  padding: 80px 0 40px;
  @include mq("lg") {
    padding: 120px 0;
  }

  @include mq("xl") {
    min-height: 40vh;
  }
  &-title {
    color: var(--white);
    font-size: calcRem(32);
    line-height: calcRem(64);
    color: #f2f5f7;
    font-family: $font-b;
    @include mq("lg") {
      font-size: calcRem(46);
      line-height: calcRem(64);
      margin-top: 30px;
    }
  }
  &-subtitle {
    color: var(--white);
    font-size: calcRem(16);
    line-height: calcRem(29);
    color: #f2f5f7;
    font-weight: 600;
    @include mq("lg") {
      margin-top: 20px;
    }
  }
  ul,
  ol {
    list-style: none;
    color: #f2f5f7;
    font-size: 11px;
    padding: 0;
    margin: 0;
    font-family: $font-l;
  }
}

.banner-img {
  @extend .banner;
  background-color: transparent;
  background-position: center center;
  position: relative;
  background-color: var(--mint-green);

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 0;
    background-color: #000000f0;
    opacity: 0.53;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  }
  .container {
    position: relative;
    z-index: 1;
  }

  &.no-shadow {
    &::after {
      display: none;
    }
  }

  &.end-title {
    align-items: flex-end;
    padding-bottom: 15px;
    &::after {
      background-color: transparent;
      background-image: linear-gradient(180deg, #ffffff00 40%, #000000 100%);
      opacity: 0.5;
      transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }
    .banner-title {
      font-size: calcRem(25);
      line-height: calcRem(45);
      margin-bottom: 25px;
    }
  }
}
