@use "sass:math";


// -----------------------------------------------------------------------------
// This file contains all application-wide Sass functions.
// -----------------------------------------------------------------------------


/* ----------------------------------------------------------------------------------------------------------------------------------------------------
    01. Convert from px to rem
---------------------------------------------------------------------------------------------------------------------------------------------------- */
@function calcRem($size, $base: 20) {
  @return math.div($size, $base) * 1rem;
}


@function toggleFont($font-en, $font-ar) {
  @return if($direction==ltr, #{$font-en}, #{$font-ar});
}

