$homeHeight: 740px;
$homeHeight-xxl: 940px;

.hero-section {
  overflow: hidden;
  height: 600px;
  position: relative;

  @include mq("sm") {
    height: 700px;
  }

  @include mq("md") {
    height: 550px;
  }

  @include mq("lg") {
    min-height: 740px;
  }

  @include mq("xxl") {
    height: $homeHeight-xxl;
    min-height: 100vh;
  }

  .mySwiperHome,
  .mySwiperHome3 {
    position: relative;
    height: 100%;

    .swiper-slide {
      background-position: top $left;
      height: 100%;
      background-size: cover;
      padding-bottom: calcRem(200);

      @include mq("lg") {
        padding-bottom: calcRem(363);
      }

      @at-root {
        [dir="rtl"] & {
          transform: scaleX(-1);

          > .container {
            transform: scaleX(-1);
          }
        }
      }
    }

    .content-swiper {
      z-index: 22;
      color: $font-white;
      // padding-inline-start: 30px;
      padding-top: calcRem(140);

      @include mq("sm") {
        padding-top: calcRem(180);
        width: 90%;
      }

      @include mq("lg") {
        width: 65%;
      }

      @include mq("xxl") {
        padding-top: calcRem(250);
        padding-inline-start: 0;
        width: 53.9%;
      }

      .titel-swiper {
        font-size: calcRem(32);
        font-weight: 600;
        line-height: 70px;

        @include mq("xxl") {
          line-height: 37px;
          font-size: calcRem(40);
        }
      }

      .medui-icons {
        filter: brightness(46) contrast(31.9) grayscale(2);
      }

      .desc-swiper {
        font-size: 23.7px;
        line-height: 35px;
      }

      .select-box {
        display: block;
        width: 100%;
        position: relative;

        &:first-child {
          margin-inline-end: 30px;

          @include mq("xxl") {
            margin-inline-end: 15px;
          }
        }

        &::after {
          content: "";
          position: absolute;
          #{$left}: 0;
          top: 50%;
          background-image: url("../../assets/img/aca.png");
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          transform: translate(10px, -50%);

          @at-root {
            [dir="rtl"] & {
              transform: translate(-10px, -50%);
            }
          }
        }

        &:nth-child(2) {
          &::after {
            background-image: url("../../assets/img/application-line.png");
          }
        }
      }

      .form-select {
        padding-#{$left}: 50px;
        font-size: 16px;
        line-height: 42px;
        position: relative;
        background-position: $right 0.75rem center;
      }

      .btn-submit {
        margin-#{$left}: 18px;
        @include btnSecondary;
        font-size: calcRem(16);

        i {
          padding-inline-end: 10px;
          font-size: calcRem(14);
        }

        @include mq("xxl") {
          padding: 18px 20px;
        }
      }

      &.two {
        .btn-Practical {
          button {
            border: $border-light;
            color: $font-white;
            border-radius: $border-radius-50;
            padding: 10px 25px;

            &:hover {
              color: $font-text;
            }
          }
        }

        .desc-swiper {
          font-size: calcRem(24);
          line-height: 42px;
          margin-bottom: 10px;

          @include mq("xxl") {
            font-size: calcRem(28);
          }
        }

        .desc {
          margin-top: 10px;

          i {
            color: $font-primary;
            padding-#{$right}: 14px;
            font-size: 18px;
          }
        }

        .btn-view {
          border-radius: $border-radius-50;
          padding: 15px 30px;
          color: $font-white;
          border-color: $font-primary;
          font-weight: 500;
          font-size: 15px;

          &:hover {
            color: $font-text;
            background-color: $font-primary;
            border-color: $font-primary;
          }
        }
      }

      .btn-join,
      .btn-numbers {
        @include btnSecondary;
        border-radius: $border-radius-50;
        padding: 15px 30px;

        i {
          padding-left: 15px;
          color: $font-primary;
        }
      }

      &.three {
        width: 80%;

        .number {
          font-size: 35px;
          color: $font-primary;
          line-height: 24px;
        }

        .content {
          span {
            font-size: 22px;
            font-weight: 400;
          }

          p {
            font-size: 24px;
            font-weight: 600;
            margin: 0;

            @include mq("xxl") {
              width: 80%;
            }
          }
        }
      }
    }
  }

  .hero-overlay {
    background-color: rgba(0, 0, 0, 0);
    background-image: radial-gradient(
      at center center,
      #000000 0%,
      #000000 54%
    );
    opacity: 0.38;
    mix-blend-mode: darken;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: 3;
  }
  .hero-shape {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    bottom: -1px;
    z-index: 4;
    svg {
      display: block;
      width: calc(100% + 1.3px);
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index: -1;
      path {
        fill: #f8f8f8;
        -webkit-transform-origin: center;
        -ms-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        &:nth-child(1) {
          fill: #f8f8f8;
        }
        &:nth-child(2) {
          opacity: 0.5;
        }
        &:nth-child(3) {
          opacity: 0.25;
        }
      }
    }
  }
}

.scroll-downs {
  position: absolute;
  left: 50%;
  bottom: 90px;
  z-index: 9;
  .mousey {
    border-style: solid;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    border-color: #ffffff;
    height: 40px;
    width: 25px;
    border-width: 1px;
    border-radius: 50px;
  }
  .scroller {
    border-radius: 50px;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
    animation-iteration-count: infinite;
    display: inline-block;
    width: 3px;
    height: 10px;
    margin-top: 0px;
    background-color: #ffffff;
  }
}

.video-hashtag {
  position: absolute;
  text-align: center;
  width: auto;
  max-width: auto;
  bottom: 150px;
  right: 50px;
  z-index: 4;
  > div {
    background-color: transparent;
    background-image: linear-gradient(240deg, #1db05d59 0%, #109d9194 100%);
    border-radius: 0px 45px 0px 45px;
    span {
      color: #ffffff;
      font-size: calcRem(33);
      font-weight: 600;
      font-family: bukra-bold;
    }
  }
}
