$homeHeight: 740px;
$homeHeight-xxl: 940px;

.hero-section {
  overflow: hidden;
  height: 600px;
  position: relative;

  @include mq("sm") {
    height: 700px;
  }

  @include mq("md") {
    height: 550px;
  }

  @include mq("lg") {
    min-height: 740px;
  }

  @include mq("xxl") {
    height: $homeHeight-xxl;
    min-height: 100vh;
  }


  .hero-overlay {
    background-color: rgba(0, 0, 0, 0);
    background-image: radial-gradient(
      at center center,
      #000000 0%,
      #000000 54%
    );
    opacity: 0.38;
    mix-blend-mode: darken;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: 3;
  }
  .hero-shape {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    bottom: -1px;
    z-index: 4;
    svg {
      display: block;
      width: calc(100% + 1.3px);
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index: -1;
      path {
        fill: #f8f8f8;
        -webkit-transform-origin: center;
        -ms-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        &:nth-child(1) {
          fill: #f8f8f8;
        }
        &:nth-child(2) {
          opacity: 0.5;
        }
        &:nth-child(3) {
          opacity: 0.25;
        }
      }
    }
  }
}

.scroll-downs {
  position: absolute;
  left: 50%;
  bottom: 90px;
  z-index: 9;
  .mousey {
    border-style: solid;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    border-color: #ffffff;
    height: 40px;
    width: 25px;
    border-width: 1px;
    border-radius: 50px;
  }
  .scroller {
    border-radius: 50px;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
    animation-iteration-count: infinite;
    display: inline-block;
    width: 3px;
    height: 10px;
    margin-top: 0px;
    background-color: #ffffff;
  }
}

.video-hashtag {
  position: absolute;
  text-align: center;
  width: auto;
  max-width: 100%;
  bottom: 150px;
  #{$right}: 10px;
  z-index: 4;
  @include mq("lg") {
    #{$right}: 50px;
  }
  > div {
    background-color: transparent;
    background-image: linear-gradient(240deg, #1db05d59 0%, #109d9194 100%);
    border-radius: 0px 45px 0px 45px;
    h2 {
      color: #ffffff;
      font-size: calcRem(33);
      font-weight: 600;
      font-family: bukra-bold;
    }
  }
}
