.latest-news {
  background-color: transparent;
  padding: 60px 0;
  min-height: 70vh;
  background-image: linear-gradient(
    220deg,
    var(--mint-green) 0%,
    var(--main-color) 100%
  );
  display: flex;
  align-items: center;
  .swiper-slide {
    padding: 0 15px;
  }
  &-title {
    color: var(--white);
    font-size: calcRem(45);
    font-weight: 600;
  }
  &-desc {
    margin-top: 25px;
    color: var(--white);
    font-weight: 600;
    font-size: calcRem(15);
  }
  &-article {
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    background-color: var(--white);
  }
  .image-col {
    width: 270px;
    height: 270px;
    margin: 0 auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      border-radius: 20px;
    }
  }
  .card-date {
    color: #a5a5a5;
    font-size: calcRem(12);
    margin-bottom: 20px;
    display: block;
  }
  .card-title {
    font-size: calcRem(24);
    display: block;
    font-family: $font-b;
    margin-bottom: 15px;
    line-height: calcRem(24);
    color: var(--black);
  }
  .card-text {
    color: #797979;
    font-size: calcRem(15);
    margin-bottom: 25px;
    display: block;
    font-weight: 400;
    line-height: calcRem(24);
  }
  .swiper-pagination {
    position: static;
    margin-top: 25px;
  }
  .btn {
    font-family: bukra-regular;
    font-size: calcRem(15);
  }
}
