.abeerWords {
  background-color: transparent;
  background: url(../img/ffjg.png), #252525;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 80px 0 40px;
  width: 100%;
  position: relative;
  @include mq("lg") {
    padding: 100px 0;
  }
  &::after {
    background: url(../img/majliss.jpg);
    position: absolute;
    opacity: 0.47;
    content: "";
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    height: 100%;
  }

  > * {
    position: relative;
    z-index: 2;
  }

  #flip-book-box {
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: block;
    // height: 300px;
    // @include mq('xl') {
    //   height: 850px;
    // }
  }
}

// .fullscreen {
//   background-color: #333;
// }
